{% load static %}
{% load humanize %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="author-list-item  w3-hover-light-grey w3-card-4 w3-white w3-round w3-margin w3-row"
     data-author-score="{{ score }}"
     data-recent-year="{{ year }}"
     data-total-citations="{{ author.citations }}"
     data-author-numPubs="{{ author.numPublications }}"
>
    <div class="w3-col s3 w3-theme-d1 w3-round" style=" padding-left: 1%; height: 200px; overflow: hidden">
        <h4>{{ author.author_name }}</h4>
        <a style="text-decoration: none" target="_blank"
           href="https://academic.microsoft.com/#/detail/{{ author.author_id }}">
            <button type="button" class="w3-btn w3-theme-l5 w3-round w3-small"><i class="fa fa-user"></i>  
                Microsoft Academic Profile
            </button>
        </a>
        <p class="">{{ number|ordinal }}  {% if author.coAuthorFlag %}
            <span class="w3-small w3-tag w3-theme-l1 w3-round w3-padding-4">Co-Author</span>
            {% endif %}<br>
            Total Citations: {{ author.citations }} <br> Most Recent
            Publication: {{ year }} <br> Number of Publications:
            {{ author.numPublications }}{% if author.numPublications == 40 %}+{% endif %}</p>
    </div>
    <div id="cont" style="overflow-y: scroll; height:200px; border-right: thin #034974" class="w3-col s9">
        <table class="w3-table w3-small w3-hoverable w3-round">
            {% for paper in author.papers %}
                <tr>
                    <td>
                        <b>{{ paper.title }}</b> ({{ paper.conference_name }}{{ paper.journal_name }}{{ paper.year }})
                        <p class="w3-opacity" style=" text-indent: 5%">{{ paper.desc }}</p>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>